<% layout('/layout/boilerplate.ejs') -%>
<div class="container">
  <div class="new-listing">
    <h3 class="text-center mb-4">Edit Listing - <%= data.title %> Listing</h3>

    <form
      action="/api/list/updatelisting/<%= data.id %>?_method=PUT"
      method="POST"
      noValidate
      class="needs-validation"
    >
      <div class="form-group mb-4">
        <label for="title" style="color: #df2086">Title</label>
        <input
          required
          type="text"
          class="form-control mb-2"
          id="title"
          name="list[title]"
          value="<%= data.title %>"
          placeholder="Enter Title"
        />
        <div class="invalid-feedback"><b>Please Enter Title</b></div>
      </div>

      <div class="form-group mb-4">
        <label for="description" style="color: #df2086">Description</label>
        <textarea
          required
          class="form-control mb-2"
          id="description"
          name="list[description]"
          placeholder="Enter Description"
        >
<%= data.description %></textarea
        >
        <div class="invalid-feedback"><b>Please Enter Description</b></div>
      </div>

      <div class="form-group mb-4">
        <label for="image" style="color: #df2086">Image URL</label>
        <input
          required
          type="text"
          class="form-control mb-2"
          id="image"
          name="list[image]"
          value="<%= data.image.url %>"
          placeholder="Enter image URL/link"
        />
        <div class="invalid-feedback"><b>Image Required</b></div>
      </div>

      <div class="form-group mb-4">
        <label for="price" style="color: #df2086">Price</label>
        <input
          required
          type="text"
          class="form-control mb-2"
          id="price"
          name="list[price]"
          value="<%= data.price %>"
          placeholder="Enter Price"
        />
        <div class="invalid-feedback"><b>Please Enter Valid Price.</b></div>
      </div>

      <div class="form-group mb-4">
        <label for="country" style="color: #df2086">Country</label>
        <input
          required
          type="text"
          class="form-control mb-2"
          id="country"
          name="list[country]"
          value="<%= data.country %>"
          placeholder="Enter Country"
        />
        <div class="invalid-feedback"><b>Please Enter Country</b></div>
      </div>

      <div class="form-group mb-4">
        <label for="location" style="color: #df2086">Location</label>
        <input
          required
          type="text"
          class="form-control mb-2"
          id="location"
          name="list[location]"
          value="<%= data.location %>"
          placeholder="Enter Location"
        />
        <div class="invalid-feedback"><b>Please Enter location</b></div>
      </div>

      <div class="form-group mb-4 text-center">
        <button type="submit" class="btn btn-block create-account">
          Update Listing
        </button>
      </div>
    </form>

    <div class="form-group mb-4 text-center mt-4">
      <a href="/api/list/show/<%= data._id %>">
        <button type="button" class="btn btn-info">Back</button>
      </a>
    </div>
  </div>
</div>
